<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <ul class="sidebar-nav">
            <li>
              <a href="/inventory">Home</a>
            </li>
            <li>
              <a href="/inventory/items">All Items</a>
            </li>
            <li>
              <a href="/inventory/categories">All Categories</a>
            </li>
            <li>
              <hr>
            </li>
            <li>
              <a href="/inventory/item/create">Create an Item</a>
            </li>
            <li>
              <a href="/inventory/category/create">Create a Category</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <ul>
            <% for (let item of itemList) { %>
              <li style="margin-bottom: 48px;">
                <h4><a href="/inventory/item/<%= item._id %>"><%= item.name %></a></h4>
                <p><%= item.description %></p>
                <p>Category: <%= item.category.name %></p>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
