<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('sidebar') %>
        <div class="col-sm-10">
          <h1><%= item.name %></h1>
          <img src="/images/<%= item.imageName %>" alt="item">
          <p><%= item.description %></p>
          <p>Category: <a href="/inventory/category/<%= item.category._id %>"><%= item.category.name %></a></p>
          <p>Price: <%= item.price %>€$</p>
          <p>Number of items in Stock: <%= item.numberInStock %></p>
          <!-- <p>Properties:</p>
          <ul>
            <%// for (let prop in item.properties) { %>
              <li><%=// prop %>: <%= //item.properties[prop] %></li>
            <% //} %>
          </ul> -->
          <p><a href="<%= item.url %>/update">Update</a></p>
          <p><a href="<%= item.url %>/delete">Delete</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
